template#xfirst-el
	style.
		p { color: orange; }
	p I'm Shady

script.
	//:babel
	class FirstEl extends HTMLElement {
		constructor() {
			super()
			console.log('bc')
			var shadowRoot = this.attachShadow({mode: 'open'})
			const t = document.querySelector('#xfirst-el')// add the dom above
			const instance = t.content.cloneNode(true)
			shadowRoot.appendChild(instance)

		}//()

		tst() {
			console.log('XXX')
		}

	}//class
