template#xfirst-el
	style.
		p { color: orange; }
	p I'm Shady

script.
	var FirstEl = Object.create(HTMLElement.prototype, {
		createdCallback: {
			value: function() {
				var t = document.querySelector('#xfirst-el');
				var clone = document.importNode(t.content, true);
				this.createShadowRoot().appendChild(clone);
			}
		}//create
	})

