extends  ../../_part/_baseShell

block head
	title Page One
	include ../../_part/_header

block main
	.mui-container-fluid
		p one
		first-el

	script.
		TS.onAppReady(UIinit)

		function UIinit() {
			console.log('x')
			TS.loadComp($('#comps'),'/_webComp/first.html', UIComp1Init)
		}

		function UIComp1Init() {
			console.log('X')
			var el = customElements.get('first-el')
			if(!el) // if it is not defined, define:
				customElements.define('first-el', FirstEl)// loaded w/ template
		}

block footer
	include ../../_part/_footer

