extends  ../../_part/_baseShell

block head
	title Page One
	include ../../_part/_header

block main
	.mui-container-fluid
		p one
		gauge-el

	script.
		TS.onAppReady(UIinit)

		function UIinit() {
			TS.loadComp($('#comps'),'/_webComp/gauge.html', UIComp1Init)
		}

		function UIComp1Init() {
			console.log('.')
			var xx
			if(!TS.isCReg('gauge-el')) {
				xx = document.registerElement('gauge-el', {prototype: GaugeEl})
				TS.cReg('gauge-el',xx)
			}
			console.log('done')
			xx = TS.isCReg('gauge-el')
			//console.log(xx)

		}

block footer
	include ../../_part/_footer

