extends  ../../_part/_baseShell

block head
	title Page One
	include ../../_part/_header

block main
	.mui-container-fluid
		p one
		first-el

	script.
		TS.onAppReady(UIinit)

		function UIinit() {
			console.log('x')
			TS.loadComp($('#comps'),'/_webComp/first.html', UIComp1Init)
		}

		function UIComp1Init() {
			console.log('xx')
			var xx
			if(!isCReg('xx')) {
				xx = document.registerElement('first-el', {prototype: FirstEl})
				cReg('xx',xx)
			}
			xx = isCReg('xx')
			console.log(xx)

		}

		function isCReg(name) {
			if (window.creg && window.creg[name])
				return window.creg[name]
			return false
		}
		function cReg(name, obj) {
			if(!window.creg)
				window.creg = {}
			window.creg[name] = obj 
		}

block footer
	include ../../_part/_footer

