extends  ../../_part/_baseShell

block head
	title Page One
	include ../../_part/_header

block main
	.mui-container-fluid
		p one

		gauge-el

	script.
		TS.onAppReady(UIinit)
		function UIinit() {
			TS.loadComp($('#comps'),'/_webComp/gauge.html', UIComp1Init)
		}

		function UIComp1Init() {
			console.log('.')

			var xx = TS.cRegOrGet('gauge-el', GaugeEl)
			console.log(xx)
		}

block footer
	include ../../_part/_footer

