dom-module#f-element
	template
		p
			| Hi! I'm a Polymer element that was defined in the
			| main document!
	script.
		class FElement extends Polymer.Element {
			static get is() { return 'f-element' }
		}