extends  ../../_part/_baseShell

block head
	title Circle component
	include ../../_part/_header

block main
	.mui-container-fluid
		p
		p Circle component:

		circle-el

	script.
		TS.onAppReady(UIinit)
		function UIinit() {
			TW.loadComp($('#comps'),'https://rawgit.com/topseed/topseed-webcomps/master/_webComp/circle.html', UIComp1Init)
		}

		function UIComp1Init() {
			console.log('.')
			var xx = TW.cReg ('circle-el', CircleEl)
		}

block footer
	include ../../_part/_footer