template#xgauge-el
	style.
		p { color: orange; }
	p I'm Shady
	div
		#gauge1(style='width:400px; height:320px')

//http://justgage.com/
script.
	var GaugeEl = Object.create(HTMLElement.prototype)
	GaugeEl.createdCallback = function() {
		GaugeEl._shadow = TS.attachShad('#xgauge-el', this)
		console.log('created')
		
		GaugeEl._loaded = false//trap
		TS.loadNX('https://cdn.rawgit.com/topseed/topseed-webcomps/master/_webComp/vendor/justgage.js', GaugeEl.loadedLib )
	}//created
	GaugeEl.loadedLib = function() {
		if(GaugeEl._loaded) return
		GaugeEl._loaded = true
		console.log('loaded')

		var c = $('#gauge1', GaugeEl._shadow)[0]
		var g = new JustGage({
			parentNode : c,
			value: 67,
			min: 0,
			max: 100,
			title: 'Visitors'
		})
	}//loaded
