template#xgauge-el
	style.
		p { color: orange; }
	p I'm Shady
	#gauge1(style='width:400px; height:320px')

//http://justgage.com/
script.
	var GaugeEl = Object.create(HTMLElement.prototype)
	GaugeEl.createdCallback = function() {
		var t = document.querySelector('#xgauge-el')
		var clone = document.importNode(t.content, true)
		//var shadow = this.createShadowRoot() NOPE
		var shadow = this.attachShadow({mode: 'open'})

		GaugeEl._shadow = shadow
		shadow.appendChild(clone)

		TS.loadNX('https://cdn.rawgit.com/topseed/topseed-webcomps/master/_webComp/vendor/circlesMOD.js', GaugeEl.loadedLib )
	}//created
	GaugeEl.loadedLib = function() {
		var c = $('#gauge1', GaugeEl._shadow)[0]
		console.log('created')

		var g = new JustGage({
			parentNode : c,
			value: 67,
			min: 0,
			max: 100,
			title: 'Visitors'
		})
	}//loaded
