template#xchart-el
	style.
		p { color: orange; }
	p I'm Shady

script.
	console.log ('in temp chart')
	class ChartEl extends HTMLElement {
		constructor() {
			super()
			this._emit = flyd.stream()
			console.log('chart cons')
			let shadowRoot = this.attachShadow({mode: 'open'})
			const t = document.querySelector('#xchart-el')
			const instance = t.content.cloneNode(true)
			shadowRoot.appendChild(instance)
		}//()

		set receiver(stream) {
			this._rec = stream
			flyd.on(_handleRec, stream)
		}

		_handleRec(el) {
			console.log(el)
		}
		get emitter() {
			return this._emit
		}

		tst() {
			console.log('XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX')
		}

	}//class