template#xcircle-el
	style.
		.circle-el__title { color: orange; }
	span.circle-el__title My Circle Title
	p
	div
		#c1

//http://github.com/lugolabs/circles
script.
	
	var CircleEl = Object.create(HTMLElement.prototype) //prototype
	var circleEl = null //instance, to keep state

	CircleEl.loadedLib = function() {

		if (circleEl._loaded) return
		circleEl._loaded = true
		console.log('loaded')
		
		var c = circleEl._shadow.getElementById('c1')
		circleEl.circle = Circles.create({
			el:                  c,
			radius:              60,
			value:               42,
			maxValue:            100,
			width:               10,
			text:                function(value){return value + '%';},
			colors:              ['#D3B6C6', '#4B253A'],
			duration:            400,
			wrpClass:            'circles-wrp',
			textClass:           'circles-text',
			valueStrokeClass:    'circles-valueStroke',
			maxValueStrokeClass: 'circles-maxValueStroke',
			styleWrapper:        true,
			styleText:           true
			})
	}//loaded

	CircleEl.createdCallback = function() {
		circleEl = this
		circleEl._shadow = TW.attachShadow(circleEl, '#xcircle-el')
		circleEl._loaded = false //trap
		//circleEl.blx = null //message bus to broadcast to

		TS.load('https://cdn.rawgit.com/topseed/topseed-webcomps/master/_sharedComps/vendor/circlesMOD.js')
		.then(circleEl.loadedLib)
		
	}//created

	CircleEl.init = function(_blx) {
		//circleEl.blx = _blx //required for outgoing/broadcast only
		//listen 
		_blx.on('mySelection', function(data) { //incoming
			circleEl.circle.update(data.circleVal)
		})
		//same as:
		/*flyd.on(function(data) { 
				circleEl.circle.update(data.circleVal)
		}, _blx.observer('mySelection'))*/

	}
