template#xc2-el
	style.
		p { color: orange; }
	p Two

script.
	var C2El = Object.create(HTMLElement.prototype)

	registerComp = function(){
		TW.registerComp('c2-el', C2El)
	}

	C2El.createdCallback = function() {
		C2El._shadow = TW.attachShadow(this, '#xc2-el')
	}

	C2El.init = function(blx) {
		console.log('comp2()')
		console.log( blx.observer('c1') )
		flyd.on(function(e) { console.log(e); }, blx.observer('c1'))
	}



