template#xlist-el
	style.
		.list-el__title { color: var(--list-el__title-color, black) }
		.list-el__list li { color: orange }
		.list-el__list a { cursor: pointer; color: #2196F3 }
		
	#title.list-el__title My List Title
	.list-el__list
		#myList

script#Lst1Tpl(type='text/x-dot-template').
	<ul>
	{{~it.array :value:index}}
		<li><a onclick="return listEl.nav('{{=value.url}}','{{=value.circleVal}}','{{=value.gaugeVal}}')"> {{=value.head_line}}</a></li>
	{{~}}
	<ul>
//-http://www.javascriptoo.com/dot-js
script.
	var ListEl = Object.create(HTMLElement.prototype) //prototype
	var listEl = null //instance, to keep state

	registerComp = function(){
		TW.registerComp('list-el', ListEl)
	}

	ListEl.createdCallback = function() {
		listEl = this
		listEl._shadow = TW.attachShadow(listEl, '#xlist-el')
		listEl.blx = null 
		if (listEl.getAttribute('title'))
			listEl._shadow.getElementById('title').innerHTML = listEl.getAttribute('title')

	}//()

	ListEl.list = function(values) {
		console.log('ListEl.list')
		var tpl = document.getElementById('Lst1Tpl').text
		var data2 = {'array': values}
		var res = TW.bind(tpl, data2)
		var lst = listEl._shadow.querySelector('#myList') 
		lst.innerHTML = res

		//$("#myList", ListEl._shadow).append("<span id='list-ready'></span>")// SSR MAGIC!!
	}//()

	//var blx = null //message bus to emit/broadcast to

	ListEl.init = function(_blx) {
		console.log('ListEl.init, received _blx')
		listEl.blx = _blx 
		
		//if you have a DOM button, this is how you can register it to send the click event
		//var $button1 = $('#button1', ListEl._shadow)
		//onst clicks = flyd.stream()
		//button1.on('click', clicks)
		//blx.regObserver('mySelection', clicks)
	}//()

	ListEl.nav = function(url, circleVal, gaugeVal){
		console.log('listEl.nav')
		if (listEl.blx != null) //blx not required when component doesn't broadcast
		{
			console.log('listEl.nav blx not null')
			listEl.blx.emit('mySelection', {"circleVal": circleVal, "gaugeVal": gaugeVal})
		}
		else 
			window.open(url, "_blank")
		return false;		
	}




	
