extends  ../../_part/_baseShell

block head
	title Gauge component
	include ../../_part/_header

block main
	.mui-container-fluid
		p
		P Gauge component:

		gauge-el

	script.
		TS.onAppReady(UIinit)
		function UIinit() {
			TW.loadComp('https://rawgit.com/topseed/topseed-webcomps/master/_webComp/gauge.html', $('#comps'), UIComp1Init)
		}

		function UIComp1Init() {
			console.log('.')
		}

block footer
	include ../../_part/_footer