extends  ../../_part/_baseShell

block head
	title Page One
	include ../../_part/_header

block main
	.mui-container-fluid
		p
		p Hello from Page One!

		list-el not yet

	script.
		TS.onAppReady(UIinit)
		function UIinit() {
			console.log('.')
			TS.loadComp($('#comps'),'/_webComp/List.html', compInit)
		}//()

		function compInit( ) {
			console.log('cinit')
			let el = customElements.get('list-el')
			if(!el) customElements.define('list-el', ListEl)

			let ch = document.querySelector('list-el')
			var values = [
				{
				url: 'Jonny Strömberg',
				head_line: 1986
				},
				{
				url: 'Jonas Arnklint',
				head_line: 1985
				},
				{
				url: 'Martina Elm',
				head_line: 1986
				}
			]
			ch.init(values)

		}//()


block footer
	include ../../_part/_footer
