extends  ../../_part/_baseShell

block head
	title Page One
	include ../../_part/_header

block main
	.mui-container-fluid
		p
		p Hello from Page One!

		list-el not yet




	script.
		TS.onAppReady(UIinit)

		function UIinit() {
			console.log('.')
			//TS.loadComp($('#comps'),'/_webComp/Chart.html', compInit)
			loadjs([
					'//cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js'

					], { success: function(){
						compInit()
					}
			})//loadjs
		}//()

		function compInit( ) {// 
			console.log('cinit')
			var options = {
				valueNames: [ 
								{ attr: 'href', name: 'url' }
								,'head_line'
							]
				,item: '<li><a class="url head_line" ></a></li>'
			}

			var values = [
				{
				url: 'Jonny Strömberg',
				head_line: 1986
				},
				{
				url: 'Jonas Arnklint',
				head_line: 1985
				},
				{
				url: 'Martina Elm',
				head_line: 1986
				}
			];

			var userList = new List('example-list', options, values);

			if(true) return

			let el = customElements.get('chart-el')
			if(!el) customElements.define('chart-el', ChartEl)

			let ch = document.querySelector('chart-el')

			let data = [
				{label: 'Download Sales',   value: 12},
				{label: 'In-Store Sales',   value: 30},
				{label: 'Mail-Order Sales', value: 20}
				]
			ch.init(data)
		}//()


block footer
	include ../../_part/_footer
