extends  ../../_part/_baseShell

block head
	title CompCom
	include ../../_part/_header

block main
	.mui-container-fluid

		p Show how event in c1-el affects c2-el.

		c1-el

		c2-el

	script.
		TS.onAppReady(UIinit)
		
		var _blx
		
		function UIinit() {
			console.log('pg')

			_blx = new BLX(null) // can / should have folder local class

			//#comps is a div in _footer.pug
			TW.loadComp('/_webComps/C1.html', $('#comps'), UIComp1Init)
			TW.loadComp('/_webComps/C2.html', $('#comps'), UIComp2Init)
		}

		function UIComp1Init() {
			var c = document.querySelector('c1-el')
			c.init(_blx) // talk to it
		}

		function UIComp2Init() {
			var c = document.querySelector('c2-el')
			c.init(_blx) // talk to it
		}



block footer
	include ../../_part/_footer

