extends  ../../_part/_baseShell

block head
	title Circle component
	include ../../_part/_header

block main
	.mui-container-fluid
		p
		p Circle component:

		circle-el

	script.
		function UIComp1Init() {
			console.log('.')
		}

		function UIinit() {
			TW.loadComp('/_webComps/circle.html', $('#comps'))
			.then(function(){ TW.registerCustomElement('circle-el', CircleEl)})
			.then(UIComp1Init)
		}

		TS.onAppReady(UIinit)


block footer
	include ../../_part/_footer
	