extends  ../../_part/_baseShell

block head
	title Circle component
	include ../../_part/_header

block main
	.mui-container-fluid
		p
		p Circle component:

		circle-el

	script.
		TS.onAppReady(UIinit)
		function UIinit() {
			TW.loadComp('https://rawgit.com/topseed/topseed-webcomps/master/_webComp/circle.html', $('#comps'), UIComp1Init)
		}

		function UIComp1Init() {
			TW.registerCustomElement('circle-el', CircleEl) 
			console.log('.')
		}

block footer
	include ../../_part/_footer
	