meta(charset='utf-8')
meta(name='viewport', content='width=device-width,minimum-scale=1,initial-scale=1')
meta(http-equiv='X-UA-Compatible', content='IE=edge')
meta(name='description', content='')

link(rel='icon', href='/favicon.ico')

//- setup loads jquery, polyfills and main.js
//-script(src='https://cdn.rawgit.com/topseed/topseed-turbo/master/setup/setup-4.4.beta.js')
script(src='/_js/setup-4.4.beta.js')
