extends  ../../_part/_baseShell

block head
	title Page One
	include ../../_part/_header

block main
	.mui-container-fluid
		p
		p Hello from Page One!

		my-element happy

		.mui-panel
			#myfirstchart(style='width: 200px;')
		#dd

	script.
		TS.onAppReady(UIinit)
		function UIinit() {
			console.log('x')
			initMorris()

		}

		function initMorris() { // hoist
			Morris.Donut({
				element: 'myfirstchart',
				data: [
					{label: 'Download Sales', value: 12},
					{label: 'In-Store Sales', value: 30},
					{label: 'Mail-Order Sales', value: 20}
				]
			})//morris
			$("#dd").append("<span id='morris-ready'>READY</span>")

		} //init morris

		function compInit( ) {// 'closure|module'-iso?
			class MyElement extends HTMLElement {
				constructor() {
					super()
					console.log('CONS')
				}//()
			}//class

			const el = customElements.get('my-element')
			if(!el) customElements.define('my-element', MyElement)
		}//mod
		compInit()

block footer
	include ../../_part/_footer
