extends  ../../_part/_baseShell

block head
	title Page One
	include ../../_part/_header

block main
	.mui-container-fluid
		p
		p Hello from Page One!

		chart-el not yet

	script.
		TS.onAppReady(UIinit)
		function UIinit() {//don't forget #comps
			console.log('.')
			TS.loadComp('/_webComp/Chart.html', $('#comps'), compInit)
		}

		function compInit( ) {// 
			var el = customElements.get('chart-el')
			if(!el) customElements.define('chart-el', ChartEl)

			var ch = document.querySelector('chart-el')

			var data = [
				{label: 'Download Sales',   value: 12},
				{label: 'In-Store Sales',   value: 30},
				{label: 'Mail-Order Sales', value: 20}
				]
			ch.init(data)
		}//()


block footer
	include ../../_part/_footer
