extends  ../../_part/_baseShell

block head
	title Page One
	include ../../_part/_header

block main
	.mui-container-fluid
		p
		p Hello from Page One!

		chart-el loading...

	script.
		TS.onAppReady(UIinit)

		function UIinit() {//don't forget #comps
			console.log('page.chart.UIinit')
			TW.loadComp('/_webComp/Chart.html', $('#comps')).then(compInit)
		}

		function compInit( ) {// 

			console.log('---page compInit')
			var data = [
				{label: 'Download Sales',   value: 12},
				{label: 'In-Store Sales',   value: 30},
				{label: 'Mail-Order Sales', value: 20}
				]
			var ch = document.querySelector('chart-el')
			ch.init(data)
		}//()


block footer
	include ../../_part/_footer
