extends  ../../_part/_baseShell

block head
	title Gauge component
	include ../../_part/_header

block main
	.mui-container-fluid
		.mui-col-xs-12.mui-col-md-6
			p
			P Gauge component:

			gauge-el

	script.
		TS.onAppReady(loadComps)

		function UIInit() {
			TW.registerComp('gauge-el', GaugeEl)
			console.log('.')
		}

		function loadComps() {
			TW.loadComp('https://rawgit.com/topseed/topseed-webcomps/master/_sharedComps/gauge.html', $('#comps')).then(UIInit)
		}

block footer
	include ../../_part/_footer
	