extends  ../../_part/_baseShell

block head
	title Gauge component
	include ../../_part/_header

block main
	.mui-container-fluid
		.mui-col-xs-12.mui-col-md-6
			p
			P Gauge component:

			gauge-el

	script.
		function UIComp1Init() {
			console.log('.')
		}

		function UIinit() {
			//TW.loadComp('https://rawgit.com/topseed/topseed-webcomps/master/_webComp/gauge.html', $('#comps'))
			TW.loadComp('/_webComps/gauge.html', $('#comps'))
			.then(function(){ TW.registerCustomElement('gauge-el', GougeEl)})
			.then(UIComp1Init)
		}

		TS.onAppReady(UIinit)


block footer
	include ../../_part/_footer
	