extends  ../../_part/_baseShell

block head
	title Page One
	include ../../_part/_header

block main
	.mui-container-fluid
		p
		p Hello from Page One!

		chart-el happy

		.mui-panel
			#myfirstchart(style='width: 200px;')
		#dd

	script.
		TS.onAppReady(UIinit)
		function UIinit() {
			console.log('.')
			initMorris()

			compInit()


		}

		function initMorris() { // hoist
			Morris.Donut({
				element: 'myfirstchart',
				data: [
					{label: 'Download Sales',   value: 12},
					{label: 'In-Store Sales',   value: 30},
					{label: 'Mail-Order Sales', value: 20}
				]
			})//morris
			$("#dd").append("<span id='chart-ready'></span>")

		} //init morris

		function compInit( ) {// 
			class ChartEl extends HTMLElement {
				constructor() {
					super()
					this._emit = flyd.stream()
					console.log('chart cons')
					return this
				}//()
				static get observedAttributes() {return ['receiver','receiver','tst'] }
				attributeChangedCallback(attr, oldValue, newValue) {
					console.log(atttr)
				}
				set receiver(stream) {
					this._rec = stream
					flyd.on(_handleRec, stream)
				}

				_handleRec(el) {
					console.log(el)
				}
				get emitter() {
					return this._emit
				}

				tst() {
					console.log('XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX')
				}

			}//class

			let el = customElements.get('chart-el')
			if(!el) customElements.define('chart-el', ChartEl)
			let M = document.querySelector('chart-el')
			M.tst()

		}//mod

block footer
	include ../../_part/_footer
