extends  ../../_part/_baseShell

block head
	title Page One
	include ../../_part/_header

block main
	.mui-container-fluid
		p
		p Hello from Page One!

		chart-el not yet

		.mui-panel
			#myfirstchart(style='width: 200px;')
		#dd

	script.
		/*
		function loadCompNX($here, url, cb) {
			fetch(url, {
				method: 'get'
			}).then(function(reSPonse) {
				if (!reSPonse.ok) {
					console.log('not ok')
					console.log(reSPonse)
					throw Error(reSPonse.statusText)
				}
				return reSPonse.text()
			}).then(function(txt) {
				$here.append( txt )
				cb()
			})

		}//()
		*/

		TS.onAppReady(UIinit)

		function UIinit() {
			console.log('.')
			loadCompNX($('#dd'),'/_webC/first.html', compInit)

			//initMorris()
		}

		function initMorris() { // hoist
			Morris.Donut({
				element: 'myfirstchart',
				data: [
					{label: 'Download Sales',   value: 12},
					{label: 'In-Store Sales',   value: 30},
					{label: 'Mail-Order Sales', value: 20}
				]
			})//morris
			$("#dd").append("<span id='chart-ready'></span>")

		} //init morris

		function compInit( ) {// 
			console.log('cinii')

			let el = customElements.get('chart-el')
			if(!el) customElements.define('chart-el', ChartEl)
			let M = document.querySelector('chart-el')
			M.tst()

		}//mod



block footer
	include ../../_part/_footer
