extends  ../../_part/_baseShell

block head
	title Dashboard
	include ../../_part/_header

block main
	.mui-container-fluid
		.mui-col-xs-12 
			p
			p Dashboard
		.mui-col-xs-6.mui-col-md-3
			.mui-panel
				circle-el
		.mui-col-xs-6.mui-col-md-3
			.mui-panel
				list-el
		.mui-col-xs-12.mui-col-md-6
			.mui-panel
				gauge-el


	script.
		TS.onAppReady(UIinit)
		function UIinit() {
			TW.loadComp('https://rawgit.com/topseed/topseed-webcomps/master/_webComp/circle.html', 
				$('#comps'), function(){})
			TW.loadComp('https://rawgit.com/topseed/topseed-webcomps/master/_webComp/gauge.html', 
				$('#comps'), function(){)})
			TW.loadComp('/_webComps/List.html', $('#comps'), listInit) 
		}

		function listInit() {
			//var xx = TW.register('list-el', ListEl)

			let ch = document.querySelector('list-el')
			var values = [
				{
				url: 'http://www.yahoo.com',
				head_line: 'Yahoo'
				},
				{
				url: 'http://mail.google.com',
				head_line: 'Gmail'
				},
				{
				url: 'https://www.cnet.com/news/',
				head_line: 'News'
				}
			]
			ch.init(values)
		}//()



block footer
	include ../../_part/_footer