extends  ../../_part/_baseShell

block head
	title Page Two
	include ../../_part/_header

block main
	.mui-container-fluid
		p
		P Page Two!
	
	script.
		TS.onAppReady(UIinit)
		function UIinit() {
			console.log('x')
		}

block footer
	include ../../_part/_footer
