extends  ../../_part/_baseShell

block head
	title Page One
	include ../../_part/_header

block main
	.mui-container-fluid
		p
		p Hello from Page One!

		list-el not yet

	script.
		TS.onAppReady(UIinit)
		function UIinit() {//don't forget #comps
			console.log('.')
			TW.loadComp($('#comps'),'/_webComps/List.html', compInit)
		}//()

		function compInit( ) {
			console.log('cinit')
			var xx = TWcReg('list-el', ListEl)

			let ch = document.querySelector('list-el')
			var values = [
				{
				url: 'http://www.yahoo.com',
				head_line: 'Yahoo'
				},
				{
				url: 'http://mail.google.com',
				head_line: 'Gmail'
				},
				{
				url: 'https://www.cnet.com/news/',
				head_line: 'News'
				}
			]

			ch.init(values)

		}//()


block footer
	include ../../_part/_footer
