extends  ../../_part/_baseShell

block head
	title Page Two
	include ../../_part/_header

block main
	.mui-container-fluid
		p
		P Page Two!

		circle-el

	script.
		TS.onAppReady(UIinit)
		function UIinit() {
			TS.loadComp($('#comps'),'/_webComp/circle.html', UIComp1Init)
		}

		function UIComp1Init() {
			console.log('.')

			var xx = cRegOrGet('circle-el', CircleEl)
			/*if(!TS.isCReg('circle-el')) {
				xx = document.registerElement('circle-el', {prototype: CircleEl})
				TS.cReg('circle-el',xx)
			}
			xx = TS.isCReg('circle-el')
			*/
			console.log(xx)
		}

		function cRegOrGet(tag, KlassEl) {
			var xx
			if(!TS.isCReg(tag)) {
				xx = document.registerElement(tag, {prototype: KlassEl})
				TS.cReg(tag,xx)
			}
			xx = TS.isCReg(tag)	
			return xx
		}

block footer
	include ../../_part/_footer