extends  ../../_part/_baseShell

block head
	title Page Two
	include ../../_part/_header

block main
	.mui-container-fluid
		p
		P Page Two!

		circle-el

	script.
		TS.onAppReady(UIinit)
		function UIinit() {
			TS.loadComp($('#comps'),'https://rawgit.com/topseed/topseed-webcomps/master/_webComp/circle.html', UIComp1Init)
		}

		function UIComp1Init() {
			console.log('.')

			var xx = TS.cRegOrGet('circle-el', CircleEl)
		}

block footer
	include ../../_part/_footer