extends  ../../_part/_baseShell

block head
	title Page Two
	include ../../_part/_header

block main
	.mui-container-fluid
		p
		P Page Two!
	
	script.
		TS.onAppReady(UIinit)
		function UIinit() {
			console.log('x')
		}

	script
		:babel
			class F {
				p() {
					console.log('oh hi ts')
				}
			}
			new F().p()

block footer
	include ../../_part/_footer