extends  ../../_part/_baseShell

block head
	title Page Two
	include ../../_part/_header

block main
	.mui-container-fluid
		p
		P Page Two!

		div
			#c1
				div

	script.
		TS.onAppReady(UIinit)
		function UIinit() {
			console.log('xx')
			//var c = $('#gauge1')[0]
			var c = document.getElementById('c1')
			console.log(c)
			var myCircle = Circles.create({
			el:                  c,
			radius:              60,
			value:               43,
			maxValue:            100,
			width:               10,
			text:                function(value){return value + '%';},
			colors:              ['#D3B6C6', '#4B253A'],
			duration:            400,
			wrpClass:            'circles-wrp',
			textClass:           'circles-text',
			valueStrokeClass:    'circles-valueStroke',
			maxValueStrokeClass: 'circles-maxValueStroke',
			styleWrapper:        true,
			styleText:           true
			})

		}

block footer
	include ../../_part/_footer