extends  ../../_part/_baseShell

block head
	title Page One
	include ../../_part/_header

block main
	.mui-container-fluid
		p one
		f-element

	script.
		TS.onAppReady(UIinit)

		function UIinit() {
			console.log('x')
			TS.loadComp($('#comps'),'/_webComp/fel.html', UIComp1Init)
		}

		function UIComp1Init() {
			console.log('X')
			var el = customElements.get(FElement.is)
			if(!el) // if it is not defined, define:
				customElements.define(FElement.is, FElement)// loaded w/ template
		}

block footer
	include ../../_part/_footer

