extends  ../../_part/_baseShell

block head
	title List component
	include ../../_part/_header

block main
	.mui-container-fluid
		p
		p List as component:

		list-el loading...

	script.
		TS.loadOnAppReady('/page/list/ListBusiness.js', UIinit) 

		function UIinit() {
			console.log('.')
			TW.loadComp('/_webComps/List.html', $('#comps'), compInit)
		}//()

		function compInit() {
			TW.registerCustomElement('list-el', ListEl)	
			console.log('compInit')
			const sb = ListBusiness()
			//sb.compInit('list-el') //add this if component communicates
			sb.compList('list-el')
		}//()


block footer
	include ../../_part/_footer

