extends  ../../_part/_baseShell

block head
	title List component
	include ../../_part/_header

block main
	.mui-container-fluid
		p
		p List as component:

		list-el loading...

	script.
		TS.loadOnAppReady('/page/list/ListBusiness.js', loadComps) 

		function UIinit() { 
			TW.registerComp('list-el', ListEl)
			const sb = ListBusiness()
			//sb.addComp('list-el') //if component communicates
			sb.compList('list-el')
		}//()

		function loadComps() {
			TW.loadComp('/_webComp/List.html', $('#comps')).then(UIinit)
		}//()



block footer
	include ../../_part/_footer

