extends  ../../_part/_baseShell

block head
	title Dashboard
	include ../../_part/_header

block main
	.mui-container-fluid
		.mui-col-xs-12 
			p
			p Dashboard
		.mui-col-xs-6.mui-col-md-3
			.mui-panel
				circle-el
		.mui-col-xs-6.mui-col-md-3
			.mui-panel
				list-el
		.mui-col-xs-12.mui-col-md-6
			.mui-panel
				gauge-el


	script.
		TS.onAppReady(UIinit)
		function UIinit() {

			Promise.all([
				TS.load('/page/list/ListBusiness.js')
				, TW.loadComp('https://rawgit.com/topseed/topseed-webcomps/master/_sharedComps//circle.html', $('#comps'))
				, TW.loadComp('https://rawgit.com/topseed/topseed-webcomps/master/_sharedComps//gauge.html', $('#comps'))
				, TW.loadComp('/_webComp/List.html', $('#comps'))
			]).then(function() {
				TW.registerComp('circle-el', CircleEl) 
				TW.registerComp('gauge-el', GaugeEl) 
				TW.registerComp('list-el', ListEl) 
			}).then(function(){
				const sb = ListBusiness()
				sb.addComp('circle-el') //for communication
				sb.addComp('gauge-el')
				sb.addComp('list-el'); 
				sb.compList('list-el')
			})
		}

block footer
	include ../../_part/_footer