extends  ../../_part/_baseShell

block head
	title Dashboard
	include ../../_part/_header

block main
	.mui-container-fluid
		.mui-col-xs-12 
			p
			p Dashboard
		.mui-col-xs-6.mui-col-md-3
			.mui-panel
				circle-el
		.mui-col-xs-6.mui-col-md-3
			.mui-panel
				list-el
		.mui-col-xs-12.mui-col-md-6
			.mui-panel
				gauge-el


	script.
		TS.onAppReady(UIinit)
		function UIinit() {
			TS.load('/page/list/ListBusiness.js',  function(){
				const sb = ListBusiness()
				TW.loadComp('https://rawgit.com/topseed/topseed-webcomps/master/_webComp/circle.html', $('#comps'), function(){
					TW.registerCustomElement('circle-el', CircleEl) 
					sb.compInit('circle-el')})
				TW.loadComp('https://rawgit.com/topseed/topseed-webcomps/master/_webComp/gauge.html', $('#comps'), function(){
					TW.registerCustomElement('gauge-el', GaugeEl) 
					sb.compInit('gauge-el')})
				TW.loadComp('/_webComps/List.html', $('#comps'), function() {
					TW.registerCustomElement('list-el', ListEl) 
					sb.compInit('list-el'); sb.compList('list-el')})
			}) 		
		}

block footer
	include ../../_part/_footer