extends  ../../_part/_baseShell

block head
	title Dashboard
	include ../../_part/_header

block main
	.mui-container-fluid
		.mui-col-xs-12 
			p
			p Dashboard
		.mui-col-xs-6.mui-col-md-3
			.mui-panel
				circle-el
		.mui-col-xs-6.mui-col-md-3
			.mui-panel
				list-el
		.mui-col-xs-12.mui-col-md-6
			.mui-panel
				gauge-el


	script.
		TS.onAppReady(UIinit)
		function UIinit() {

			Promise.all([
				TS.load('/page/list/ListBusiness.js')
				, TW.loadComp('/_webComps/circle.html', $('#comps'))
				, TW.loadComp('/_webComps/gauge.html', $('#comps'))
				, TW.loadComp('/_webComps/List.html', $('#comps'))
			]).then(function() {
				TW.registerCustomElement('circle-el', CircleEl) 
				TW.registerCustomElement('gauge-el', GaugeEl) 
				TW.registerCustomElement('list-el', ListEl) 
			}).then(function(){
				const sb = ListBusiness()
				sb.compInit('circle-el')
				sb.compInit('gauge-el')
				sb.compInit('list-el'); 
				sb.compList('list-el')
			})
		}

block footer
	include ../../_part/_footer