template#xlist-el
	style.
		.blist-el span, .blist-el li { color: orange; }
		.blist-el a { cursor: pointer; color: #2196F3}
	.blist-el
		span My List Title
		#myList

script#Lst1Tpl(type='text/x-dot-template').
	<ul>
	{{~it.array :value:index}}
		<li><a onclick="return ListEl.nav('{{=value.url}}','{{=value.circleVal}}','{{=value.gaugeVal}}')"> {{=value.head_line}}</a></li>
	{{~}}
	<ul>
//-http://www.javascriptoo.com/dot-js
script.
	var ListEl = Object.create(HTMLElement.prototype)
	ListEl.createdCallback = function() {
		ListEl._shadow = TW.attachShadow(this, '#xlist-el')
		TW.registerCustomElement('list-el', ListEl)	
	}//()

	ListEl.blx = null //message bus to emit/broadcast to 
	
	ListEl.list = function(values) {
		console.log('ListEl.list')
		
		var tpl = document.getElementById('Lst1Tpl').text
		var data2 = {'array': values}
		var res = TW.bind(tpl, data2)
		var lst = ListEl._shadow.querySelector('#myList') 
		lst.innerHTML = res

		$("#myList", ListEl._shadow).append("<span id='list-ready'></span>")// SSR MAGIC!!


	}//()


	ListEl.init = function(_blx) {
		console.log('ListEl.init, received _blx')
		ListEl.blx = _blx //used in ListEl.nav
		
		//if you have a DOM button, this is how you can register it to send the click event
		//var $button1 = $('#button1', ListEl._shadow)
		//onst clicks = flyd.stream()
		//button1.on('click', clicks)
		//blx.regObserver('mySelection', clicks)
		
	}//()

	ListEl.nav = function(url, circleVal, gaugeVal){
		if (ListEl.blx != null) //blx not required when component doesn't broadcast
			ListEl.blx.emit('mySelection', {"circleVal": circleVal, "gaugeVal": gaugeVal})
		else 
			window.open(url, "_blank")
		return false;		
	}
