template#xchart-el
	//style.
		p { color: orange; }
	//p I'm Shady
	#myChart(style='width: 200px;')

script.

	var ChartEl = Object.create(HTMLElement.prototype) //prototype
	var chartEl = null //instance, to keep state

	registerComp = function(){
		TW.registerComp('chart-el', ChartEl)
	}

	ChartEl.createdCallback = function() {
		console.log('chartEl created')
		chartEl = this
		chartEl._shadow = TW.attachShadow(chartEl, '#xchart-el')
		chartEl._loaded = false //trap
		//chartEl.blx = null //message bus to broadcast to

		Promise.all([
			TS.load('https://cdn.rawgit.com/topseed/topseed-turbo/master/vendor/raphael.min.js')
			, TS.load('https://cdn.jsdelivr.net/morris.js/0.5.1/morris.min.js')
			, TS.load('https://cdn.jsdelivr.net/morris.js/0.5.1/morris.css')
		
		]).then(function(){
			console.log('dependencies loaded done')
			chartEl._loaded = true
		})
	}//created

	ChartEl.init = function(data_) {
		console.log('chartEl.init')
		if (chartEl._loaded) {
			console.log('create morris donut')
			Morris.Donut({
				element: chartEl._shadow.querySelector('#myChart') //ctx
				, data: data_
			})
			$("#myChart").append("<span id='chart-ready'></span>")
		}
		else {
			setTimeout(function() {//wait X milliseconds then loop and recheck if ready
				console.log('-') 
				chartEl.init(data_) //loop
			} ,60)	
		}
	}	
