template#xchart-el
	//style.
		p { color: orange; }
	//p I'm Shady
	#myChart(style='width: 200px;')

script.
	console.log ('in temp chart')//don't forget #comps
	class ChartEl extends HTMLElement {
		constructor() {
			super()
			console.log('chart cons')
			var shadowRoot = this.attachShadow({mode: 'open'})
			const t = document.querySelector('#xchart-el')
			const instance = t.content.cloneNode(true)
			shadowRoot.appendChild(instance)

			//this._emit = flyd.stream()
			this.loadDeps()
		}//()

		init(data_) {
			const thiz = this
			loadjs.ready(['morris'], {
				success: function(){
					Morris.Donut({
						element: thiz.shadowRoot.querySelector('#myChart', this) //ctx
						, data: data_
					})
					$("#myChart").append("<span id='chart-ready'></span>")// MAGIC!!
			}//suc
			})//load
		}//()

		loadDeps() {
			loadjs([
					'https://cdn.jsdelivr.net/raphael/2.2.7/raphael.js'
					,'https://cdn.jsdelivr.net/morris.js/0.5.1/morris.min.js'
					,'https://cdn.jsdelivr.net/morris.js/0.5.1/morris.css'
				], { success: function(){
					loadjs.done('morris')
				}
			})//loadjs
		}//()

		/*
		set receiver(stream) {
			this._rec = stream
			//flyd.on(_handleRec, stream)
		}
		_handleRec(el) {
			console.log(el)
		}
		get emitter() {
			return this._emit
		}
		*/

	}//class